{% extends 'base.html' %}
{% block body %}
<form action="exit" method="post" class="custom-form">{% csrf_token %}
    <div class="form-section">
        <h1 class="section-title">Scan Licience Plate</h1>
        <p class="section-text">
            Elevate your vehicle recognition capabilities with our License Plate Detection and Recognition tool. Powered by OpenCV and EasyOCR, this feature integrates real-time video capture to identify and highlight license plates within the camera feed. The system utilizes a Haar Cascade classifier for initial plate detection and filters out small areas to focus on significant plate details.

            As the system runs, detected license plates are outlined with a green rectangle, accompanied by a descriptive label. Upon user command (pressing 's'), the system captures and saves the plate image to a designated directory. A visual confirmation is displayed on the video feed, acknowledging the successful plate capture.
            
            What sets this tool apart is its seamless integration with EasyOCR for license plate text extraction. Saved plate images are passed through EasyOCR, enabling the recognition of alphanumeric characters. The extracted information is then printed to the console, providing users with a convenient and efficient means of obtaining license plate details.
            
            This tool is designed to enhance security and streamline processes in various applications, from parking management to law enforcement. Its versatility and accuracy make it an invaluable asset for any system requiring license plate identification and recognition.            
        </p>
        <button class="custom-button" type="button" id="scan">Scan</button>
        <div id="scaned" class="result-box"></div>
        <!-- <p class="section-text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi odit magni sunt exercitationem et ipsum natus vitae quos. Necessitatibus distinctio quibusdam et placeat? Cum doloribus minima illo? Dolor illum molestias itaque facere porro, harum non aliquid? Illum neque provident quaerat soluta animi impedit dicta, incidunt esse. Ipsa dicta sed rem eius doloribus nulla reiciendis consequatur omnis ut accusamus debitis nihil ea amet non nam sit voluptatibus, labore illum! Neque rem quae veniam sed perferendis inventore!
        </p> -->
        <button type="submit" class="custom-button">Show</button>
    </div>
</form>
{% endblock body %}