{% extends 'base.html' %}
{% block body %}
<div class="custom-form">
    <div class="form-section">
        <h1 class="section-title">Lorem, ipsum dolor.</h1>
        <p class="section-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloribus quo veniam deserunt aperiam nobis, omnis unde nemo sapiente? Corrupti debitis nobis deserunt provident iure recusandae odit inventore sed magnam id vel neque earum doloremque delectus esse beatae consectetur explicabo, ea cum, excepturi labore, officia perspiciatis laudantium. Vel temporibus dolor, harum exercitationem delectus sapiente fugiat cum saepe inventore. Iure veniam facere suscipit numquam voluptatem maxime illo explicabo voluptate autem rerum. Qui doloribus repellendus iure reprehenderit odio.</p>
        <a class="cta-button" href="entry">Entry</a>
    </div>
    
    <div class="form-section">
        <h1 class="section-title">Lorem, ipsum.</h1>
        <p class="section-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint officiis libero fugit ratione, distinctio illum dolore excepturi nobis quasi sit, alias id quam facilis voluptas ipsum. Delectus totam facere odit! Accusamus cum fuga molestias natus officiis. Deleniti voluptatibus est earum asperiores qui esse totam id, ullam laboriosam exercitationem provident, libero officiis dolorem minima, magnam veritatis non natus odio labore distinctio rerum culpa. Voluptates molestias excepturi id quia quasi delectus fuga quaerat, possimus consectetur fugiat ullam.</p>
        <a class="cta-button" href="manage">Manage</a>
    </div>
    
    <div class="form-section">
        <h1 class="section-title">Lorem, ipsum.</h1>
        <p class="section-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio, aliquam tempora illo non necessitatibus nesciunt similique in earum! Nihil sequi aut recusandae unde iure, quod dolorum iusto dolores nulla odit ipsam totam, quaerat repellendus labore libero. Expedita reiciendis harum quae blanditiis, repudiandae modi assumenda neque corrupti nobis adipisci voluptatum magnam ipsam tempora! Suscipit voluptas necessitatibus impedit alias dolorum ipsum cupiditate id sequi rem, molestias, tempore quas numquam est laudantium libero corrupti similique quae velit aperiam.</p>
        <a class="cta-button" href="exit">Exit</a>
    </div>
</div>

{% endblock body %}