{% extends 'base.html' %}
{% block body %}
<div class="heading">
    <div class="child">
        <h1 >A Parking Management System using OpenCV</h1>
       
    </div>
</div>
<div class="overview">
    <h1>Overview</h1>
    <p>The Smart Parking Management System is a web-based application employing OpenCV for car plate detection and parking slot occupancy analysis. Using live video feeds from parking lot cameras, the system utilizes OpenCV to identify and extract car plates in real-time. Optical Character Recognition (OCR) tools such as EasyOCR are then applied to recognize alphanumeric characters from the detected plates. The system further employs image processing techniques to analyze parking spaces, determining the occupancy status of each slot. Real-time information about car plate numbers, parking slot availability, and dynamic updates are displayed on a user-friendly web interface, providing efficient parking management and enhancing user convenience.</p>
    <div class="btn-container">
        <button id="btn">Get Started</button>
    </div>
    <script>
        document.getElementById("btn").addEventListener("click", function() {
            window.location.href = "/entry";
        });
    </script>
</div>
{% endblock body %}

