{% extends 'base.html' %}
{% block body %}
<div class="heading">
    <div class="child">
        <h1 >A Parking Management System using OpenCV</h1>
        <p >Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deserunt, pariatur.</p>
    </div>
</div>
<div class="overview">
    <h1>Overview</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis est nisi numquam aperiam voluptatem laboriosam illum suscipit repellendus eveniet. Unde reiciendis assumenda perferendis rerum facilis molestiae, quos dolor eaque iure ut at, facere veniam dicta enim animi? Eveniet cum consequuntur voluptate! Voluptates ducimus odio consequatur quidem ratione repellat nisi corporis magni provident, voluptas porro amet pariatur nemo. Fugit laudantium optio voluptatum exercitationem mollitia maxime aperiam iure sequi non nihil id minus aspernatur fugiat inventore unde quis nemo reprehenderit tenetur quos nostrum, facere ea doloribus earum quod. Mollitia minima unde officia numquam eveniet voluptates veniam. Laboriosam qui harum dolorum in mollitia.</p>
    <div class="btn-container">
        <button id="btn">Get Started</button>
    </div>
    <script>
        document.getElementById("btn").addEventListener("click", function() {
            // Replace 'new-page.html' with the URL of the new page you want to navigate to.
            window.location.href = "/features";
        });
    </script>
</div>
{% endblock body %}

